<td-layout-card-over>

    <div layout="row" layout-align="start center" class="pad-left-sm pad-right-sm">
        <span class="push-left-sm push-top-sm">
            <span class="mat-title">{{titleForm}}</span>
        </span>
        <span flex></span>
        <td-search-box #searchBox backIcon="arrow_forward" class="push-right-sm"
            placeholder="Pesquisa por Nome, e-mail ou CNPJ" 
            [alwaysVisible]="false"
            (searchDebounce)="searchEvent($event.toUpperCase())"
            flex>
        </td-search-box>
    </div>
    <mat-divider></mat-divider>

    <table mat-table [dataSource]="pageableModel.content" matSort (matSortChange)="sortEvent($event)" class="mat-elevation-z0">    
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Código</th>
            <td mat-cell *matCellDef="let element" style="width: 80px;"  data-label="Código"> {{element.id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
            <td mat-cell *matCellDef="let element" data-label="Nome"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="cnpj">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CNPJ</th>
            <td mat-cell *matCellDef="let element" data-label="CNPJ"> {{element.cnpj}} </td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cadastro</th>
            <td mat-cell *matCellDef="let element" style="width: 180px;" data-label="Cadastro"> {{element.createdAt}} </td>
        </ng-container>

        <ng-container matColumnDef="updatedAt">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Atualizado</th>
            <td mat-cell *matCellDef="let element" style="width: 180px;" data-label="Atualizado"> {{element.updatedAt}} </td>
        </ng-container>

        <ng-container matColumnDef="import">
            <th mat-header-cell *matHeaderCellDef> Importar </th>
            <td mat-cell *matCellDef="let element" style="width: 80px;" data-label="import">
                <a mat-icon-button [routerLink]="[element.id, 'import']" [state]="{entity: element}">
                    <mat-icon>file_upload</mat-icon>
                </a>
            </td>
        </ng-container>   

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Detalhe </th>
            <td mat-cell *matCellDef="let element" style="width: 80px;" data-label="action">
                <a mat-icon-button [routerLink]="[element.id, 'view']" [state]="{entity: element}">
                    <mat-icon>open_in_new</mat-icon>
                </a>
            </td>
        </ng-container>   
    
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns"></tr>
    
    </table>

    <mat-card-actions>

        <mat-paginator 
            [length]="pageableModel.totalElements" 
            [showFirstLastButtons]="true"
            [pageSize]="pageableModel.size" 
            [pageSizeOptions]="pageSizeOptions"
            (page)="pageEvent($event)">

    </mat-paginator>


    </mat-card-actions>

</td-layout-card-over>
