.mat-h2, .mat-title, .mat-typography h2 {
    font: 500 24px/32px Roboto, "Helvetica Neue", sans-serif;
    margin: 0 0 16px;
  }
  
  .mat-column-bloqueado {
    padding-right: 0 !important;
    width: 80px;
  }

  .mat-divider {
    margin-top: 10px;
    margin-bottom: 10px;
  }