<td-layout-card-over>

    <form [formGroup]="resourceForm" (ngSubmit)="sendFile()">

        <mat-card-title>
            <div layout="row" layout-margin layout-align="space center">
                <span flex>
                    <span class="mat-title">{{title}}</span>
                </span>
            </div>
        </mat-card-title>
        
        <mat-divider></mat-divider>

        <mat-card-content>
            <p class="mat-body-2">Informe o mês e ano de referência:</p>
            <div layout="row" layout-xs="column" layout-margin>
                <mat-form-field flex appearance="outline">
                    <mat-label>Meses</mat-label>
                    <mat-select formControlName="months" [compareWith]="compareMonths"  required multiple>
                        <mat-option value=1>JANEIRO</mat-option>
                        <mat-option value=2>FEVEREIRO</mat-option>
                        <mat-option value=3>MARÇO</mat-option>
                        <mat-option value=4>ABRIL</mat-option>
                        <mat-option value=5>MAIO</mat-option>
                        <mat-option value=6>JUNHO</mat-option>
                        <mat-option value=7>JULHO</mat-option>
                        <mat-option value=8>AGOSTO</mat-option>
                        <mat-option value=9>SETEMBRO</mat-option>
                        <mat-option value=10>OUTUBRO</mat-option>
                        <mat-option value=11>NOVEMBRO</mat-option>
                        <mat-option value=12>DEZEMBRO</mat-option>
                    </mat-select>
                    <mat-error>
                        <app-message-error [form-control]="resourceForm.get('months')"></app-message-error>
                    </mat-error>
                </mat-form-field>
                <mat-form-field flex appearance="outline">
                    <mat-label>Ano</mat-label>
                    <input type="text" formControlName="year" matInput class="form-control" placeholder="Ano" required maxlength="4" />
                    <mat-error>
                        <app-message-error [form-control]="resourceForm.get('year')"></app-message-error>
                    </mat-error>
                </mat-form-field>
            </div>

            <p class="mat-body-2">Informe o Arquivo:</p>
            <div layout="row" layout-margin>
                <div flex class="dropzone" tdFileDrop (fileDrop)="onFileDropped($event)">
                    <img width="63" height="64" src="assets/upload-excel.svg" alt=""/>
                    <h3>Arraste e solte o aquivo aqui</h3>
                    <h3>ou</h3>
                    <td-file-input #fileInput color="primary"
                        (selectFile)="onFileDropped($event)"
                        accept=".xlsx,.xls">
                        <mat-icon>attach_file</mat-icon><span>Selecione o arquivo...</span>
                    </td-file-input>
                    @if (resourceForm.value.file?.name) {
                        <h3> {{ resourceForm.value.file?.name }} </h3>
                    } @else {
                        <h3 style="color: red">NENHUM ARQUIVO FOI SELECIONADO</h3>
                    }
                </div>
            </div>
            <div layout="row" layout-margin>
                @if (uploadProgress > 0) {
                    <mat-progress-bar mode="determinate" [value]="uploadProgress"></mat-progress-bar>
                }
            </div>

        </mat-card-content>

        <mat-divider></mat-divider>

        <mat-card-actions flex layout-align="end center">
            <button mat-button type="submit" class="text-upper" color="accent" [disabled]="submittingForm || resourceForm.invalid">
                @if (!submittingForm) { Enviar } @else { Enviando...}
            </button>
            <button mat-button type="button" class="text-upper" [routerLink]="[ '/customers' ]">Fechar</button>
        </mat-card-actions>

    </form>

</td-layout-card-over>
