<td-layout-card-over>

    <mat-card-title>
        <div layout="row" layout-margin layout-align="space center">
            <span flex>
                <span class="mat-title">IMPORTAR PLANILHA</span>
            </span>
        </div>
    </mat-card-title>
    
    <mat-divider></mat-divider>

    <mat-card-content>
        
        <span class="mat-body-2">Informe o mês e ano de referência:</span>
        <div layout="row" layout-xs="column" layout-margin>
            <mat-form-field flex appearance="outline">
                <mat-label>Mês</mat-label>
                <mat-select required>
                    <mat-option value="01">JANEIRO</mat-option>
                    <mat-option value="02">FEVEREIRO</mat-option>
                    <mat-option value="03">MARÇO</mat-option>
                    <mat-option value="04">ABRIL</mat-option>
                    <mat-option value="05">MAIO</mat-option>
                    <mat-option value="06">JUNHO</mat-option>
                    <mat-option value="07">JULHO</mat-option>
                    <mat-option value="08">AGOSTO</mat-option>
                    <mat-option value="09">SETEMBRO</mat-option>
                    <mat-option value="10">OUTUBRO</mat-option>
                    <mat-option value="11">NOVEMBRO</mat-option>
                    <mat-option value="12">DEZEMBRO</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field flex appearance="outline">
                <mat-label>Ano</mat-label>
                <input type="text" matInput class="form-control" placeholder="Ano" required maxlength="4" />
                <mat-hint align="end">formato AAAA</mat-hint>
            </mat-form-field>
        </div>


        <span class="mat-body-2">Informe o Arquivo:</span>
        <div layout="column" layout-xs="column" layout-margin>
            <div class="dropzone" tdFileDrop (fileDrop)="onFileDropped($event)">
                <img width="63" height="64" src="assets/upload-excel.svg" alt=""/>
                <h3>Arraste e solte o aquivo aqui</h3>
                <h3>ou</h3>
                <td-file-input #fileInput color="primary" 
                    (selectFile)="onFileDropped($event)"
                    accept=".xlsx,.xls">
                    <mat-icon>attach_file</mat-icon><span>Selecione o arquivo...</span>
                </td-file-input>
                <span>{{file?.name}}</span>
            </div>
        </div>

        
        

    </mat-card-content>

    <mat-divider></mat-divider>

    <mat-card-actions flex layout-align="end center">
        <button mat-button type="submit" class="text-upper" color="accent">
            @if (!submittingForm) { Enviar} @else { Enviando...}
        </button>
        <button mat-button type="button" class="text-upper" [routerLink]="[ '/customers' ]">Fechar</button>
    </mat-card-actions>

</td-layout-card-over>
